[Unit]
Description=XAMPP (Apache, MariaDB, ProFTPD)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/lampp/lampp start
ExecStop=/opt/lampp/lampp stop

[Install]
WantedBy=multi-user.target
