[SddmGreeterTheme]
Name=maospy
Description=Tema de login maospy-rice (Nord)
Author=Marcos Olmedo
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=maospy
Theme-API=2.0
QtVersion=6
